asgiref
autopep8
Django==2.2.*
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
shap
pandas
numpy
djangorestframework
sklearn
lightgbm
matplotlib
seaborn
dill
plotly
