{% extends 'layouts/base.html' %}

{% block title %} Details {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <h1 class="text-white">청구건 상세</h1>
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">ID</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ object.ID }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                            <i class="fas fa-address-card"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">청구월</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ object.base_ym }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">예측 결과</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ label }} ({{ prob }}%)</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-brain"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">분류 상태</h5>
                                        {% if object.target %}
                                            <span class="h2 font-weight-bold mb-0">{{ object.target }}</span>
                                        {% else %}
                                            <span class="h2 font-weight-bold mb-0">미분류</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-balance-scale"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">청구건 정보</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">feature</th>
                                <th scope="col">value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for feature, value in table_items %}
                                <tr>
                                    <td>{{ feature }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0">
                                    {# Previous page #}
                                    {% if table_items.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ table_items.previous_page_number }}">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Prev</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">Prev</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {# Page button #}
                                    {% for i in table_items.paginator.page_range %}
                                        {% if table_items.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {# Next page #}
                                    {% if table_items.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ table_items.next_page_number }}">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>


    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">여기는 제목</h3>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div style="width: 400px;height: 500px;">{{ class_prob_plot|safe }}</div>
                        </div>
                        <div class="col-auto">
                            <div style="width: 500px;height: 100px;">{{ local_exp_plot|safe }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
