{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
            <div class="header-body">
                <h1 class="text-white">NEW CLAIMS</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--7">

        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">CREATE NEW RECORDS</h6>
                                <h2 class="mb-0">청구건 생성</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/settings" method="post">
                            {% csrf_token %}
                            <table class="table align-items-center table-flush">
                                {{ form.as_table }}
                            </table>
                            <input type="submit" value="Submit" class="btn btn-success" name="create"  style="float: right;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
